@import "variables.scss";

body{
	padding: 0;
	width: 1440px;
}

/*1ERE PARTIE*/
/*changer le fond*/
    .intro{
    background-image: url("../images/FOND.png");
    width: 1440px;
    height: 1024px;
    }

/*titres*/    
    h1{
    position: absolute;
    left: 73px;
    top: 214px;
    font-family: Allerta Stencil;
    font-size: 64px;
    color:$green;
    }
    
    h2{
        position: absolute;
        left: 80px;
        top: 300px;
        font-family: Allerta Stencil;
        font-style: normal;
        font-weight: normal;
        font-size: 28px;
        color:$dark;
    }

  /*paragraphe*/
    .summary p{
        position: absolute;
        width: 571px;
        height: 140px;
        left: 80px;
        font-family: Arial;
        font-size: 18px;
        color:$grey;
    }

    .summary :nth-child(1){
        top: 397px;
    }

    .summary :nth-child(2){
        top: 700px;
        color:$green;   
    }

    .summary :nth-child(2) a{
        color:$green;   
    }

    /*paragraphe*/
    .preamble p{
        position: absolute;
        width: 1234px;
        height: 147px;
        font-family: Arial;
        font-size: 18px;
        color:$black;
        left: 109px;
    }

    .preamble :nth-child(2){
        top: 1120px;
    }
    .preamble p:nth-child(3){
        top:1140px
    }
    .preamble p:nth-child(4){
        top:1190px
    }
    
    /*titre*/
    .preamble h3{
    position: absolute;
    width: 390px;
    height: 31px;
    left: 109px;
    top: 1070px;
    font-family: Allerta Stencil;
    font-size: 24px;
    color:$green;
    text-transform: uppercase;
    }

    /*bouton view all designs*/
    .viewall{
        position: absolute;
        width: 355px;
        height: 72px;
        left: 73px;
        top: 537px;
        background-color:$green;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .viewall a{
        position:absolute;
        font-family: Allerta Stencil;
        font-size:24px;
        text-transform: uppercase;
        color:$white;
        text-decoration: none
    }
    
    /* 2EME PARTIE*/
    /* Changer le fond*/
    .explanation{
        background-image: url("../images/FOND2.png");
        width: 1440px;
        height: 431px;
        margin-top:300px;
    }

    /* titre*/
    .explanation h3{
        left: 73px!important;
        top: 1381px;
        font-family: Allerta Stencil;
        font-size: 24px;
        color:$white;
        text-transform: uppercase;
        position: absolute;
    }

    /* caractéristiques paragraphes*/
    %explanation{
        width: 570px;
        left: 73px;
        top: 1428px;
        font-family: Arial;
        font-size: 18px;
        color:$white;
        position: absolute;
    }

    /* paragraphe*/
    .explanation :nth-child(2){
        @extend %explanation;
    }

    .explanation :nth-child(3){
        @extend %explanation;
        top: 1550px;
    }

    
    /* 3EME PARTIE*/
    /* Changer le fond*/
    .participation{
        background-image: url("../images/FOND3.png");
        width: 1440px;
        height: 504px;
        top: 1824px;
        margin-top:72px;
    }

    /*Titre*/
    .participation h3{
        position: absolute;
        left: 779px;
        top: 1883px;
        font-family: Allerta Stencil;
        font-size: 24px;
        color:$green;
        text-transform: uppercase;
    }

    /*caractéristique paragraphe*/
    %participation{
        margin-left: 779px;
        color:$black;
        font-family: Arial;
        font-size: 18px;
        width: 558px;
        height: 357px;
        top: 1930px;
        z-index: 10;
        position:absolute;
    }

    /*Paragraphes*/
    .participation :nth-child(2){
        @extend %participation;
    }

    .participation :nth-child(3){
        @extend %participation;
        top:2060px;
    }

    .participation :nth-child(4){
        @extend %participation;
        top:2170px;
    }

    .participation :nth-child(4) a{
        color: $black;
    }

    /* 4EME PARTIE*/
    /* Changer fond*/
    .benefits{
        background-image: url("../images/FOND4.png");
        width: 1440px;
        height: 249px;  
        top: 2241px;
        background:$black;
        position: absolute;
        z-index: -3;
    }

    /* Titre*/
    .benefits h3{
        width: 112px;
        height: 31px;
        margin-left: 109px;
        margin-top: 93px;
        font-family: Allerta Stencil;
        font-size: 24px;
        color: #FFFFFF;
    }

    /* paragraphe*/
    .benefits p{
        position: absolute;
        width: 1234px;
        height: 66px;
        font-family: Arial;
        font-size: 18px;
        color: #FFFFFF;
        margin-left: 109px;
        margin-top: -10px;
    }

    /* 5EME PARTIE*/
    .requirements{
        background-image: url("../images/FOND5.png");
        position: absolute;
        width: 1440px;
        height: 739px;
        margin-top: 159px;
    }

    /*Titre*/
    .requirements h3{
        position: absolute;
        width: 183px;
        height: 31px;
        left: 80px;
        margin-top: 50px;
        font-family: Allerta Stencil;
        font-size: 24px;        
        color:$green;
    }

    /*Caractéristiques paragraphe*/
    %requirements{
        position: absolute;
        width: 522px;
        height: 252px;
        left: 80px;
        top: 80px;
        font-family: Arial;
        font-size: 18px;    
        color:$green;
    }

    /*paragraphes*/
    .requirements :nth-child(2){
        @extend %requirements;
    }

    %positionabbr{
        position: initial;
    }
    .requirements :nth-child(2) :nth-child(2){
        @extend %positionabbr;
    }
    .requirements :nth-child(2) :nth-child(3){
        @extend %positionabbr;
    }
    .requirements :nth-child(2) :nth-child(4){
        @extend %positionabbr;
    }

    .requirements :nth-child(3){
        @extend %requirements;
        top: 240px;
    }

    .requirements :nth-child(4){
        @extend %requirements;
        top: 440px;
    }

    .requirements :nth-child(5){
        @extend %requirements;
        top: 569px;
    }

    .requirements :nth-child(5) :nth-child(2){
        @extend %positionabbr;
    }

    .requirements :nth-child(5) :nth-child(3){
        @extend %positionabbr;
    }

    /*couleur lien paragraphe*/
    .requirements :nth-child(5) a{
        color: $green;
    }

    .sidebar .wrapper .design-selection{
        position: absolute;
        width: 1440px;
        height: 220px;
        left: -82px;
        margin-top: 900px;
        background-color: $green;
    }

    .design-selection h3{
        margin-left: 200px;
        font-family: Allerta Stencil;
        font-size: 24px;
        text-transform: uppercase;
        color: $white;
    }

    .design-selection nav{
        display: flex;
        margin-left: 160px;
        width: 1190px;
    }

    .design-selection nav ul{
        display: flex!important;
        list-style-type: none;
        text-decoration: none;
        color: $white;
    }   

    %nav-ul{
        display: grid;
        margin-right: 15px;
    }   

    .design-selection nav :nth-child(1){
        @extend %nav-ul;
    }

    .design-selection nav :nth-child(2){
        @extend %nav-ul;
    }

    .design-selection nav :nth-child(3){
        @extend %nav-ul;
    }

    .design-selection nav :nth-child(4){
        @extend %nav-ul;
    }

    .design-selection nav :nth-child(5){
        @extend %nav-ul;
    }

    .design-selection nav :nth-child(6){
        @extend %nav-ul;
    }

    .design-selection nav :nth-child(7){
        @extend %nav-ul;
    }

    .design-selection nav :nth-child(8){
        @extend %nav-ul;
    }

    .design-selection nav ul li :first-child{
       color:$white;
       text-decoration: none;
       font-family: allerta stencil;
       text-transform: uppercase;
    }   

    .design-selection nav ul li :last-child{
        color:$white;
        text-decoration: none;
        font-family: arial;
        text-decoration: underline;
     }   

