@import "variables.scss";
@import "mixin.scss";

/*1ERE PARTIE*/
/*changer le fond*/
    .intro{
    background-image: url("../images/FOND.png");
    width: 1440px;
    height: 1024px;
    display: flex;
    }

/*titres*/    
    h1{
    position: absolute;
    left: 73px;
    top: 214px;
    font-family: Allerta Stencil;
    font-size: 64px;
    color:$green;
    }
    
    h2{
        position: absolute;
        left: 80px;
        top: 300px;
        font-family: Allerta Stencil;
        font-style: normal;
        font-weight: normal;
        font-size: 28px;
        color:$dark;
    }

  /*paragraphe*/
    .summary p{
        width: 571px;
        height: 140px;
        left: 80px;
        @include p ($grey)
    }

    .summary :nth-child(1){
        top: 397px;
    }

    .summary :nth-child(2){
        top: 700px;
        color:$green;   
    }

    .summary :nth-child(2) a{
        color:$green;
        text-transform: uppercase;

        &:hover{
            @extend %hover;
        }
    }

    /*paragraphe*/
    .preamble p{
        width: 1234px;
        left: 109px;
        @include p ($green);

    }

    .preamble :nth-child(2){
        top: 1120px;
    }
    .preamble p:nth-child(3){
        top:1140px
    }
    .preamble p:nth-child(4){
        top:1190px
    }
    
    /*titre*/
    .preamble h3{
    width: 390px;
    padding-left: 109px;
    padding-top: 1070px;
    height: 30px;
    @include h3 ($green);
    }

    /*bouton view all designs*/
    .viewall{
        position: absolute;
        width: 355px;
        height: 72px;
        left: 73px;
        top: 537px;
        @include bouton ($green);
    }
    .viewall a{
        position:absolute;
        font-family: Allerta Stencil;
        font-size:24px;
        text-transform: uppercase;
        color:$white;
        text-decoration: none;
    }

    .design-archives nav ul .next{
        position: absolute;
        width: 240px;
        height: 45px;
        left: 1146px;
        top: 28px;
        @include bouton ($white);

        &:hover{
            background-color: $grey;
        }
    } 

    .design-archives nav ul .next a{
        font-family: Allerta Stencil;
        font-size: 18px;
        color: black;
        text-decoration: none;

        &:hover{
            color:$white;
        }
    }

    .design-archives h3{
        display: none;
    }

    
    /* 2EME PARTIE*/
    /* Changer le fond*/
    .explanation{
        background-image: url("../images/FOND2.png");
        width: 1440px;
        height: 431px;
        margin-top:300px;
    }

    /* titre*/
    .explanation h3{
        padding-top: 45px;
        margin-left: 73px!important;
        top: 1381px;
        @include h3 ($white);
    }

    /* paragraphe*/
    .explanation :nth-child(2){
        @extend %explanation;
    }

    .explanation :nth-child(3){
        @extend %explanation;
        top: 1550px;
    }

    
    /* 3EME PARTIE*/
    /* Changer le fond*/
    .participation{
        background-image: url("../images/FOND3.png");
        width: 1440px;
        height: 504px;
        top: 1824px;
        margin-top:72px;
    }

    /*Titre*/
    .participation h3{
        margin-left: 779px;
        top: 1883px;
        padding-top: 50px;
        @include h3 ($green);
    }

    /*Paragraphes*/
    .participation :nth-child(2){
        @extend %participation;
    }

    .participation :nth-child(3){
        @extend %participation;
        top:2060px;
    }

    .participation p :nth-child(2){
        position: relative;
        margin: 0;
        top: 0;

        &:hover{
            @extend %hover;
        }
    }

    .participation p :nth-child(4){
        margin: 0;
        top: 0;
        position: initial;

        &:hover{
            @extend %hover;
        }
    }

    .participation :nth-child(2) :nth-child(3){
        top: 0;
        margin: 0;
        position: initial;

        &:hover{
            @extend %hover;
        }
    }

    .participation :nth-child(4) :nth-child(3){
        top: 0;
        margin: 0;
        position: initial;
    }

    .participation :nth-child(4){
        @extend %participation;
        top:2170px;
    }

    .participation :nth-child(4) a{
        color: $green;

        &:hover{
            @extend %hover;
        }
    }

    /* 4EME PARTIE*/
    /* Changer fond*/
    .benefits{
        background-image: url("../images/FOND4.png");
        width: 1440px;
        height: 249px;  
        top: 2241px;
        background:$green;
        position: absolute;
        z-index: -3;
    }

    /* Titre*/
    .benefits h3{
        margin-left: 109px;
        margin-top: 93px;
        @include h3 ($white);
    }

    /* paragraphe*/
    .benefits p{
        position: absolute;
        width: 1234px;
        height: 66px;
        @include p ($white);
        margin-left: 109px;
        margin-top: -10px;
    }

    /* 5EME PARTIE*/
    .requirements{
        background-image: url("../images/FOND5.png");
        position: absolute;
        width: 1440px;
        height: 739px;
        margin-top: 159px;
    }

    /*Titre*/
    .requirements h3{
        margin-left: 80px;
        margin-top: 50px;
        @include h3 ($green);
    }

    /*Caractéristiques paragraphe*/
    %requirements{
        position: absolute;
        width: 522px;
        height: 252px;
        left: 80px;
        top: 80px;
        font-family: Arial;
        font-size: 18px;    
        color:$green;
    }

    /*paragraphes*/
    .requirements :nth-child(2){
        @extend %requirements;
    }

    %positionabbr{
        position: initial;
    }
    .requirements :nth-child(2) :nth-child(2){
        @extend %positionabbr;
    }
    .requirements :nth-child(2) :nth-child(3){
        @extend %positionabbr;
    }
    .requirements :nth-child(2) :nth-child(4){
        @extend %positionabbr;
    }

    .requirements :nth-child(3){
        @extend %requirements;
        top: 240px;
    }

    .requirements :nth-child(4){
        @extend %requirements;
        top: 440px;
    }

    .requirements :nth-child(5){
        @extend %requirements;
        top: 569px;
    }

    .requirements :nth-child(5) :nth-child(2){
        @extend %positionabbr;
    }

    .requirements :nth-child(5) :nth-child(3){
        @extend %positionabbr;
    }

    /*couleur lien paragraphe*/
    .requirements :nth-child(5) a{
        color: $green;

        &:hover{
            color:$white;
            background-color: $green;
        }
    }

    /*PARTIE 6*/
    /*fond vert*/
    .sidebar .wrapper .design-selection{
        position: absolute;
        width: 1440px;
        height: 220px;
        left: -82px;
        margin-top: 920px;
        background-color: $green;
    }

    /*titre*/
    .design-selection h3{
        margin-left: 200px;
        @include h3 ($white);
    }

    .design-selection nav{
        display: flex;
        margin-left: 160px;
        width: 1190px;
    }

    /*alignement ul*/
    .design-selection nav ul{
        display: flex!important;
        list-style-type: none;
        text-decoration: none;
        color: $white;
    }   

    %nav-ul{
        display: grid;
        margin-right: 15px;
    }   

    /*mode grille pour chaque enfant de nav*/
    .design-selection nav :nth-child(1){
        @extend %nav-ul;
    }

    .design-selection nav :nth-child(2){
        @extend %nav-ul;
    }

    .design-selection nav :nth-child(3){
        @extend %nav-ul;
    }

    .design-selection nav :nth-child(4){
        @extend %nav-ul;
    }

    .design-selection nav :nth-child(5){
        @extend %nav-ul;
    }

    .design-selection nav :nth-child(6){
        @extend %nav-ul;
    }

    .design-selection nav :nth-child(7){
        @extend %nav-ul;
    }

    .design-selection nav :nth-child(8){
        @extend %nav-ul;
    }

    /*titre des projets*/
    .design-selection nav ul li :first-child{
       color:$white;
       text-decoration: none;
       font-family: allerta stencil;
       text-transform: uppercase;

       &:hover{
           color:$dark;
           background-color: $white;
       }
    }   

    /*auteur des projets*/
    .design-selection nav ul li :last-child{
        color:$white;
        text-decoration: none;
        font-family: arial;
        text-decoration: underline;

        &:hover{
            color:$dark;
        }
     }   
      
    /*PARTIE */
    .zen-resources{
        background-image: url(../images/FOND6.png);
        position: absolute;
        width: 1440px;
        height: 251px;
        top: 3498px;
    }

    /*PARTIE 7*/
    /*titre*/
    .zen-resources h3{
        margin-left: 200px;
        margin-top:50px;
        @include h3 ($green);

    }

    /*alignements*/
    .zen-resources ul{
        display: flex;
        justify-content: space-around;
        margin-left: 85Px;
        list-style-type: none;
        width: 1270px;
    }

    /*liens*/
    .zen-resources ul li a{
        text-decoration: none;
        color:$green;
        font-family: Arial, Helvetica, sans-serif;

        &:hover{
            @extend %hover;
        }
    }

    /*PARTIE 7 : CREDITS*/
    .requirements :nth-child(6){
        margin-top: 1130px;
        font-family: arial;
        margin-left: 320px;
        color:$green;
    }

    .requirements :nth-child(6) a{
        font-family: arial;
        color: $green;
        position: inherit;
    }

    /*FOOTER*/
    footer{
        margin-top: 1450px;
        background-color: $green;
        height: 120px;
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        width: 1440px;
    }

    /*liens footer*/
    footer a{
        display: flex;
        justify-content: center;
        color: $white;
        text-decoration: none;
        font-family: Arial;

        &:hover{
           color: $green;
           background-color: $white;
        }
    }